.container--feature {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  flex-direction: column;
}

.container--feature h3 {
  color: rgb(253, 253, 253);
  font-size: 20px!important;
  font-family: 'Trebuchet MS'!important;
  font-style: italic;
  padding: 0 10px 0 10px;
}

.container--feature__col {
  padding: 1rem;
  overflow: hidden;
}

.container--image {
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: contain;
  /* object-fit: cover;
  -webkit-overflow-scrolling: auto; */
}

.container--feature__col .container--feature__predicted p {
  color: rgb(240, 246, 255)!important;
  
}
.predict span{
  color: DodgerBlue;
  background-color: #fff;
  text-decoration: underline;
  font-size: 24px!important;
  font-style: unset;
  font-weight: 800;
  font-family: "Audiowide", sans-serif;

}

.predict {
  border: 1px solid #fff;
  background-color: #fff;
  color: black;
}
