/* .banner {
    background-image: url(../../img/bg1.png);
    background-size: 100%;
} */

body {
    /* background-image: linear-gradient(to right, rgb(247, 10, 10, 0.8),rgb(248, 163, 6, 0.8),rgb(255, 255, 0, 0.8),rgb(0, 128, 0, 0.8),rgb(7, 7, 250, 0.8),rgb(80, 2, 136, 0.8),rgb(238, 130, 238, 0.8));
    background-color: black; */
  background-image: url("../../img/bg2.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}